@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/cera-pro/CeraPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/cera-pro/CeraPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/cera-pro/CeraPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Set default font for the whole site */
html,
body {
  font-family: "Cera Pro", sans-serif;
}
